/.idea/.idea.UniPass/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.UniPass/.idea/.gitignore
/.idea/.idea.UniPass/.idea/encodings.xml
/.idea/.idea.UniPass/.idea/indexLayout.xml
/.idea/config/applicationhost.config


[Bb]in/
[Oo]bj/
/UniPass.Application/bin/
/UniPass.Application/obj/
/UniPass.Application.Web/bin/
/UniPass.Application.Web/obj/
/UniPass.Domain/bin/
/UniPass.Domain/obj/
/UniPass.Infrastructure/bin/
/UniPass.Infrastructure/obj/
/UniPass.WebApi/bin/
/UniPass.WebApi/obj/
/.idea/
