@using UniPass.Client.Services.Api
@using UniPass.Client.Components.FolderComponents
@inject DialogService DialogService
@inject FolderService FolderService

<RadzenPanelMenu>
    <RadzenPanelMenuItem IconColor="@Colors.Secondary" Text="Команды">
        <RadzenPanelMenuItem IconColor="@Colors.Secondary" Text="Мои" Path="/my-teams"/>
        <RadzenPanelMenuItem IconColor="@Colors.Secondary" Text="Участие" Path="/teams"/>
    </RadzenPanelMenuItem>
    
    <RadzenPanelMenuItem IconColor="@Colors.Secondary" Text="Личные" Path="/my-keys"/>
    
</RadzenPanelMenu>

@* <hr class="rz-b-1" style=" width: 70%;"> *@

<span class="material-symbols-outlined">

</span>
